{% extends "layout.html" %}
{% block content %}
    <div id="chatbox" class="panel panel-primary">
        <div class="panel-body">
            <form action="{{ site_url('chat') }}" method="post" class="form-horizontal">
                <div class="row">
                    <div class="col-xs-10">
                        <textarea v-model="txt" name="message" rows="3" class="form-control"></textarea>
                    </div>
                    <div class="col-xs-2 text-center">
                        <button v-on:click.stop.prevent="send(txt)" :disabled="ajaxRequest"
                                class="btn btn-primary btn-block">Gửi
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="chatbox">
            <div class="chatbox-content">
                <div v-for="item in listItems" class="message">
                    <div class="message-content text loading" data-time="${ item.time }"
                         id="chat-' + val.id + '"><a
                                href="' + base + '/account/profile/' + val.username + '.' + val.user_id + '"
                                title="' + val.time + '"><b v-text="item.user_id"></b></a>:
                        <v v-text="item.message"></v>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}